.OverlayScreenAvA {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  /* background-image: url("../../assets/Images/trungga.png"); */
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

.ModalScreenAvA {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: 3;
  display: grid;
  place-items: bottom;
  /* background-image: url("../../assets/Images/Nen_CH.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border: none; */
}

.backgroundMatBien {
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../assets/Images/trungga.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
}

.matBien {
  position: relative;
  top: 0;
  /* border-bottom: 1px solid #333; */
  height: 100%;
  width: 100%;
  z-index: 2;
}

.shipStage1 {
  position: absolute;
  left: 75px;
  bottom: 20%;
  background-image: url("../../assets/Images/Con_thuyen.png");
  background-size: cover;
  background-position: center center;
  min-height: 16%;
  min-width: 16%;
  animation: bounce 1.2s infinite alternate;
  transition: all 0.3s ease-in;
}

@keyframes bounce {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.questionStage1 {
  background-image: url("../../assets/Images/chamhoi.png");
  background-size: cover;
  background-position: center center;
  min-height: 16%;
  min-width: 16%;
  position: absolute;
  bottom: 20%;
  right: 0%;
  animation: moveRightToLeft 7s linear forwards;
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(270%);
  }
  95% {
    transform: translateX(-720%);
  }
  100% {
    transform: translateX(-720%);
  }
}
