.click {
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.background_Login {
  overflow: hidden;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #7b3624;
  background-image: url("../../../assets/Images/Ban\ Do\ Vn.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  scale: 1;
}

.background_Login.zoom_st1 {
  transform-origin: 33% 100%;
  transition: transform 1.5s ease-out 2.5s;
}

.zoom_1 {
  scale: 1;
}

.aniGoLySon {
  scale: 2.5;
  transform-origin: 39% 56%;
  transition: 3s ease-out 3.7s;
  animation: goLySon 2s alternate 8s;
}

@keyframes goLySon {
  0% {
    scale: 2.5;
    opacity: 1;
  }
  100% {
    scale: 5;
    opacity: 0.5;
  }
}

@keyframes goTrSa {
  0% {
    scale: 2.5;
    opacity: 1;
  }
  100% {
    scale: 5;
    opacity: 0.5;
  }
}

.startStage3 {
  scale: 2.5;
  transform-origin: 39% 56%;
}

.aniGoTrSa {
  scale: 2.5;
  transform-origin: 54% 85%;
  transition: 4s ease-out 2.5s;
  animation: goTrSa 2s alternate 8s;
}

.startStage4 {
  scale: 2.5;
  transform-origin: 54% 85%;
}

.aniGoConDao {
  scale: 2.5;
  transform-origin: 33% 100%;
  transition: 4s ease-out 1s;
}

.background_Login.zoom {
  animation: scaleMainMap 2s forwards;
}

@keyframes scaleMainMap {
  0% {
    scale: 1;
  }
  100% {
    scale: 2.5;
  }
}

.logo {
  width: 30vw;
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  transition: opacity 1.5s ease-in-out;
}

.logo_img {
  animation: scaleImg 1.2s infinite alternate;
}

@keyframes scaleImg {
  0% {
    scale: 1.1;
  }
  100% {
    scale: 1.2;
  }
}

.logo img {
  width: 100%;
  height: 100%;
}

.button_start {
  color: #fff;
  position: absolute;
  z-index: 3;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  width: 100px;
  height: 45px;
  cursor: pointer;
  background-color: #00acd7;
  border-bottom: 3px solid #05cdff;
  border-right: 3px solid #05cdff;
  border-radius: 8px;
  box-shadow: 0px 3px 15px 5px rgba(255, 255, 255, 0.3);
  animation: bounce 1.2s infinite alternate;
  transition: all 0.3s ease-in;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    transform: translate(-50%, -50%) translateY(-15px);
  }
}

.button_start:hover {
  background-color: #fff;
  color: #00acd7;
}

.display_none {
  opacity: 0;
}

.mainDiaDiem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  scale: 1;
  transition: 0.5s ease-in-out;
}

.mainDiaDiem img:hover {
  scale: 1.3;
  filter: drop-shadow(0 0 5px yellow);
}

.mainDiaDiem p {
  position: absolute;
  width: 120px;
  font-size: 14px;
}

.ruongBT p {
  position: absolute;
  top: 25px;
}

.canTho {
  position: absolute;
  top: 84%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.conDao {
  position: absolute;
  top: 91%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.lySon {
  position: absolute;
  top: 51%;
  left: 41%;
  transform: translate(-50%, -50%);
}

.trSa {
  position: absolute;
  top: 80%;
  left: 56%;
  transform: translate(-50%, -50%);
}

.hSa {
  position: absolute;
  top: 40%;
  left: 44%;
  transform: translate(-50%, -50%);
}

.ruongBT {
  position: absolute;
  top: 15%;
  left: 24.5%;
  transform: translate(-50%, -50%);
  width: 5%;
}

.thapTH {
  width: 3%;
  top: 70%;
  left: 39%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.nhaThoDB {
  width: 3%;
  top: 75%;
  left: 33%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.boat_img_st_1 {
  position: absolute;
  top: 85%;
  left: 31.5%;
  transform: translate(-50%, -50%);
  width: 8%;
  animation: pathFirst 5s forwards 2s, fadeIn 1.2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pathFirst {
  100% {
    top: 92.5%;
    left: 33%;
    transform: translate(-50%, -50%);
  }
}

// stage 2

.boat_img_st_2 {
  position: absolute;
  top: 92.5%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 8%;
  animation: pathSecond 6s forwards 1s;
}

@keyframes pathSecond {
  60% {
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 55%;
    left: 43%;
    transform: translate(-50%, -50%);
  }
}

.boat_img_st_3 {
  position: absolute;
  top: 55%;
  left: 43%;
  transform: translate(-50%, -50%);
  width: 8%;
  animation: pathThird 4s forwards 2.5s;
}

@keyframes pathThird {
  100% {
    top: 74%;
    left: 56%;
    transform: translate(-50%, -50%);
  }
}

.boat_img_st_4 {
  position: absolute;
  top: 74%;
  left: 56%;
  transform: translate(-50%, -50%);
  width: 8%;
  animation: pathFour 4s forwards 1s;
}

@keyframes pathFour {
  100% {
    top: 95%;
    left: 36%;
    transform: translate(-50%, -50%);
  }
}

.boat_img_st_5 {
  position: absolute;
  top: 79%;
  left: 34%;
  transform: translate(-50%, -50%);
  width: 8%;
  animation: pathFive 4s forwards 1s;
}

@keyframes pathFive {
  0% {
    top: 79%;
    left: 34%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 59%;
    left: 23%;
    transform: translate(-50%, -50%);
  }
}

.boat_img img {
  width: 50%;
  height: 50%;
}

.tick_img img {
  width: 50%;
  height: 50%;
}

.tick_img {
  position: absolute;
  top: 84%;
  left: 29.5%;
  transform: translate(-50%, -50%);
  width: 3.5%;
  animation: fadeIn 1.2s forwards, bounce 1.2s infinite alternate,
    fadeOut 1.2s forwards 3s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tick_img img {
  width: 100%;
  height: 100%;
}

// .backgroundModal {
//   background-image: url("../../assets/Images/nhan_vat_chinh.png");
// }

@media not all and (min-aspect-ratio: 1.8) {
  .ruongBT {
    top: 21%;
  }

  .thapTH {
    top: 67%;
  }

  .nhaThoDB {
    top: 71%;
  }

  .canTho {
    top: 78.7%;
  }

  .conDao {
    top: 84.6%;
  }

  .lySon {
    top: 51%;
  }

  .trSa {
    top: 75.3%;
  }

  .hSa {
    top: 40%;
  }

  .tick_img {
    top: 78.5%;
  }

  .background_Login.zoom_st1 {
    transform-origin: 33% 90%;
  }

  .boat_img_st_1 {
    top: 79.5%;
    left: 31.5%;
    transform: translate(-50%, -50%);
  }

  @keyframes pathFirst {
    100% {
      top: 86%;
      left: 33%;
      transform: translate(-50%, -50%);
    }
  }

  .boat_img_st_2 {
    top: 86%;
    left: 33%;
    transform: translate(-50%, -50%);
  }

  @keyframes pathSecond {
    60% {
      top: 71.1%;
      left: 44%;
      transform: translate(-50%, -50%);
    }
    100% {
      top: 54.4%;
      left: 43.2%;
      transform: translate(-50%, -50%);
    }
  }

  .boat_img_st_3 {
    position: absolute;
    top: 54.4%;
    left: 43.2%;
    transform: translate(-50%, -50%);
    width: 8%;
    animation: pathThird 4s forwards 2.5s;
  }

  @keyframes pathThird {
    100% {
      top: 70%;
      left: 56%;
      transform: translate(-50%, -50%);
    }
  }

  .aniGoConDao {
    transform-origin: 33% 90%;
  }

  .boat_img_st_4 {
    top: 70%;
    left: 56%;
  }

  @keyframes pathFour {
    100% {
      top: 88%;
      left: 36%;
    }
  }
}
