.background_Login {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  &:before {
    content: '';
    background-image: url('../../assets/Images/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    position: absolute;
    width: 90%;
    min-height: 100vh;
    height: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: 33% 100%;
    transition: transform 1.5s ease-out 1.5s;
  }
}

.background_Login.zoom:before {
  transform: translate(-50%, -50%) scale(2);
}

.logo{
  width: 35vw;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  transition: opacity 1.5s ease-in-out;
}

.logo_img{
  animation: scaleImg 1.2s infinite alternate;
}

@keyframes scaleImg {
  0% {
    scale: 1.1;
  }
  100% {
    scale: 1.2;
  }
}


.logo_txt{
  position: absolute;
}

.logo img{
  width: 100%;
  height: 100%;
}

.button_start{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  width: 100px;
  height: 45px;
  background-color: #00acd7;
  border-bottom: 3px solid #05cdff;
  border-right: 3px solid #05cdff;
  border-radius: 8px;
  box-shadow: 0px 3px 15px 5px rgba(255, 255, 255, 0.3);
  animation: bounce 1.2s infinite alternate;
  transition: all .3s ease-in;
}

@keyframes bounce {
  0% {
      transform: translate(-50%, -50%) translateY(0);
  }
  100% {
      transform: translate(-50%, -50%) translateY(-15px);
  }
}

.button_start:hover{
  background-color: #fff;
  color: #00acd7;
}


.display_none{
  opacity: 0;
}


