.img_hover_zoom {
  height: 100vh; /* [1.1] Set it as per your need */
  overflow: hidden;
}

/* [2] Transition property for smooth transformation of images */
.img_hover_zoom img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  transform-origin: 53% 15%;
  transition: transform 1s, filter 0.5s ease-out;
}

/* [3] Finally, transforming the image when container gets hovered */
.zoom img {
  transform: scale(5);
}
