.menu {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 35px;
  width: 110px;
  height: 250px;
}

.menu > * {
  margin: 15px 10px 15px 0;
  min-height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  scale: 1;
  transition: 0.3s ease-in-out;
}

.OverlayConfirmMusic {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/Images/NenRiengLoading.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.ModalConfirmMusic {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 15%;
  right: 15%;
  display: grid;
  place-items: center;
  /* background-image: url("../../assets/Images/Nen_CH.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border: none; */
}

.ModalConfirmMusic:focus,
.ModalConfirmMusic *:focus {
  outline: none;
}

.ModalContainerConfirmMusic {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  min-width: 50%;
  min-height: 50%;
}

.BackgroundConfirmMusic {
  background-image: url("../../assets/Images/Khung_Cau_Hoi.png");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.BoxConfirmMusic {
  display: grid;
  box-sizing: border-box;
  place-items: center;
  padding: 6% 8%;
  width: 100%;
  height: 100%;
}

.am_luong_btn {
  background-image: url("../../assets/Images/nut_am_luong.png");
  background-size: 235px;
  cursor: pointer;
}

.mute_am_luong_btn {
  background-image: url("../../assets/Images/mute_am_luong.png");
  background-size: 170px;
  cursor: pointer;
}

.cot_co{
  position: absolute;
  top: 51%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 4%;
}

.cot_co p{
  font-weight: 600;
  position: absolute;
  width: 100px;
  top: 10px;
  left: 50px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.mainStar {
  display: flex;
  align-items: center;
  min-width: 150px;
}

.mainStar img{
  width: 50%;
  height: 100%;
}

.textPoint{
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
}

.menu > *:hover {
   scale: 1.2;
}
