.background{
    position: relative;
    background-color: #8D5542;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('../../assets/Images/Ban\ Do\ Truong\ Sa.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.blur{
    filter: blur(5px);
}

.question{
    width: 11%;
    transition: 0.5s ease-in-out; 
}

.question:hover {
    transform: translate(-50%, -60%)
}

.question img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.question1{
    position: absolute;
    top: 61%;
    left: 37.5%;
    transform: translate(-50%, -50%);
}
.question2{
    position: absolute;
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.question3{
    position: absolute;
    top: 42%;
    left: 56%;
    transform: translate(-50%, -50%);
}
.question4{
    position: absolute;
    top: 73%;
    left: 45%;
    transform: translate(-50%, -50%);
}



.diaDiem1{
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 7%;
    transition: 0.7s ease-in-out; 
}

.diaDiem1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.diaDiem1:hover {
    animation: upDown 0.7s ease-in-out infinite alternate; 
}

@keyframes upDown {
    0% {
        transform: translate(-50%, -50%) translateY(0); 
    }
    100% {
        transform: translate(-50%, -50%) translateY(-10px); 
    }
}

.btnX{
    position: absolute;
    bottom: 5%;
    right: 3%;
    width: 7%;
    scale: 1;
    transition: 0.5s ease-in-out;
  }
  
  .btnX:hover{
    scale: 1.3;
  }
  
  .btnX img{
    width: 100%; 
    height: 100%;
    object-fit: contain;
  }